/* --------------- GLOBAL ELEMENTS --------------- */
h1 {
  margin: 0px;
}

body {
  background-image: url("https://i.pinimg.com/originals/f6/20/a1/f620a179ca1acfd15a0754701677fb58.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/* --------------- GLOBAL ELEMENTS --------------- */
.mainReactDiv {
  display: flex;
}

/* --------------- SPECIFIC ELEMENTS --------------- */

.selectDropdown {
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

/* --------------- EXTRAS --------------- */
/* @font-face { */
/* font-family: "pixel";
  src: url("font/Pixel-LCD-7.woff") fromt("woff");
} */
